<p style="margin: 0;">
  Your followed proposal {{ args.proposal.title }} has an update!
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#ffffff"  style="padding: 40px 0 40px;">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td
            align="center"
            
            bgcolor="{{ UI.PRIMARY }}"
          >
            <a
              href="{{ args.proposal_url }}"
              target="_blank"
              style="font-size: 20px; font-family: {{ UI.TEXT_FONT }}; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 20px 50px; border: 1px solid {{
                UI.PRIMARY
              }}; display: inline-block;"
            >
              Check it out
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
