<p style="margin: 0;">
    Please use the below link to reset your password. The link will expire in one
    hour.
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td bgcolor="#ffffff"  style="padding: 40px 0 40px;">
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td bgcolor="{{ UI.PRIMARY }}">
                        <a
                                href="{{ args.recover_url }}"
                                target="_blank"
                                style="font-size: 20px; font-family: {{ UI.TEXT_FONT }}; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 20px 50px; border: 1px solid {{ UI.PRIMARY }}; display: inline-block;"
                        >
                            Reset Password
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<p style="margin: 0 0 5px; font-size: 12px;">
    If that doesn't work, copy and paste the following link in your browser
</p>

<p style="margin: 0 0 5px; font-size: 12px;">
    <a href="{{ args.recover_url }}" target="_blank" style="color: {{ UI.PRIMARY }};">{{
        args.recover_url
    }}</a>
</p>

<p style="margin: 0; font-size: 12px;">
    If you did not make this request, you can safely ignore this email. A password
    reset request can be made by anyone, and it does not indicate that your
    account is in any danger of being accessed by someone else.
</p>
